## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [24]:
# Your code here
sample_list_1 = random.sample(range(0,100),80)
print(sample_list_1)

[79, 91, 24, 68, 23, 34, 69, 53, 84, 96, 20, 15, 10, 4, 80, 36, 49, 54, 7, 51, 46, 14, 25, 87, 71, 18, 28, 39, 73, 89, 60, 76, 37, 29, 59, 9, 70, 93, 43, 67, 55, 94, 17, 35, 65, 6, 47, 83, 86, 82, 1, 8, 66, 45, 90, 21, 19, 48, 31, 22, 32, 58, 57, 72, 16, 38, 42, 64, 44, 99, 78, 11, 0, 50, 81, 62, 33, 85, 12, 98]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [26]:
set1= set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [64]:
numeros = range(0,100)
sample_list2 = random.sample(range(0,100),80)
print(sample_list_2)

# Your code here

[81, 99, 96, 90, 16, 70, 66, 13, 46, 64, 80, 26, 56, 25, 89, 23, 39, 82, 61, 98, 87, 88, 94, 63, 84, 31, 36, 0, 91, 14, 9, 19, 38, 28, 97, 42, 37, 35, 69, 73, 10, 40, 49, 29, 18, 17, 53, 20, 51, 86, 67, 59, 22, 62, 12, 52, 3, 71, 45, 32, 85, 8, 78, 4, 5, 83, 95, 6, 74, 11, 1, 65, 50, 2, 15, 55, 27, 24, 30, 58]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [52]:
# Your code here
set2= set(sample_list_2)
print(len(set2))

80

# Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [77]:
set3 = set(i for i in set1 if i not in set2)
print (set3)
print(len(set1)-len(set2))

{<class 'set'>}
-79

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [68]:
# Your code here
set4 = set(i for i in set2 if i not in set1)
print (set4)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 35, 36, 37, 38, 39, 40, 42, 45, 46, 49, 50, 51, 52, 53, 55, 56, 58, 59, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 73, 74, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 98, 99}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [80]:
# Your code here
set5 =set (i for 1 in set1 if i in set2)
print(set5)

SyntaxError: cannot assign to literal (Temp/ipykernel_19720/991926540.py, line 2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [82]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

print(len(set1))+print(len(set2))+print(len(set3))+print(len(set4))+print(len(set5))

1
80
1
80
0
1
80

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

#### Create an empty set called `set6`.

In [85]:
# Your code here
set6= set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [86]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{<class 'set'>}

#### Check if `set1` and `set6` are equal.

In [87]:
# Your code here
set6= (set)
print(set6)

<class 'set'>

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [90]:
# Your code here
print (set2.issubset(set1))
print (set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [96]:
# Your code here
a= set3.union(set4,set5)
b= set1.union(set2)

print(a==b)

AttributeError: 'list' object has no attribute 'union'

#### Using the `pop` method, remove the first element from `set1`.

In [99]:

print(set1.pop(0))

IndexError: pop from empty list

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [102]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1= list_to_remove
print (set1)
for n in list_to_remove:
    if n in set1:
        set1.remove(n)
print(set1)

[1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
[9, 19, 29, 39, 49, 59, 69, 79, 89, 99]